.page-header__logo {
  margin-right: 95px;
}
.page-header__logo-first {
  font-family: var(--logo-font);
  color: var(--alt-cl);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.page-header__logo-second {
  font-family: var(--logo-font);
  color: var(--title-cl);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.page-header__logo-second-white {
  font-family: var(--logo-font);
  color: var(--accent-cl);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  display: inline-block;
}
.footer__logo {
  display: inline-block;
  padding-bottom: 20px;
}
