.checkbox__name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}
.checkbox__name::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
}
.checkbox:checked + .checkbox__name::before {
  background-image: url(../images/vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--alt-cl);
  border-color: var(--alt-cl);
}
