.block--second-bg {
  width: 100%;
}
.second__title {
  display: none;
}
.second__title-list {
  color: var(--title-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.second__title-text {
  color: var(--main-text-cl);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.second__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  text-align: left;
}
