.teamwork__cards {
  position: relative;
}
.teamwork__textcards {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.teamwork__text {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding-top: 27px;
  padding-bottom: 27px;
}
.block--teamwork-bg {
  padding-top: 0px;
}
